.page .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.page__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}
