body {
  max-width: 1920px;
  margin: auto;
  width: 100%;
  color: var(--text-main);
  scroll-behavior: smooth;
}

.text_emphasized {
  color: var(--text-colored);
}

@media screen and (max-width: 1450px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 7px;
  }
}
