.page {
  background: no-repeat url('../../sources/images/BG-main.jpg');
  background-size: cover;
}
.page__title {
  margin-top: 20rem;
  font-family: Lato, Verdana, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  text-transform: uppercase;
  color: var(--text-content);
  width: 55%;
}

.page__title span {
  color: var(--text-colored);
}

.page__content {
  color: var(--text-content);
}

.content__header {
  margin-top: 8rem;
  font-family: Lato, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.content__list {
  margin-top: 1rem;
  padding-left: 5px;
  list-style-type: none;
}
.content__list_item {
  font-family: Lato, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.page__buttons {
  margin-top: 8rem;
  margin-bottom: 20rem;
}

@media screen and (max-width: 1600px) {
  .page__buttons {
    margin-bottom: 12rem;
  }
}

@media screen and (max-width: 1280px) {
  .page__buttons {
    margin-bottom: 9rem;
  }
}

@media screen and (max-width: 1050px) {
  .page__title {
    margin-top: 15rem;
    margin-bottom: 0.1em;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .content__header {
    margin-top: 6rem;
  }
  .page__buttons {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .page__title {
    margin-top: 18rem;
    margin-bottom: 0.1em;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}

.page__title {
  margin-top: 15rem;
  margin-bottom: 0.1em;
  font-size: 3.5rem;
  line-height: 4.5rem;
}

@media screen and (max-width: 430px) {
  .page__title {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
