.order {
  background: no-repeat url('../../sources/images/BGForm.png');
  background-size: cover;
}

.order__title {
  font-family: Lato, Verdana, sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 4.3rem;
  color: var(--text-main);
  margin: 12rem 0 0 0;
  text-transform: uppercase;
}

.order__comment {
  font-family: Lato, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin: 3rem 0 0 0;
}

@media screen and (max-width: 1300px) {
  .order__title {
    font-size: 3.4rem;
    line-height: 4rem;
    margin: 8rem 0 0 0;
  }
}
