:root {
  --main-bg-color: #10101d;
  --main-bg-color-light: rgba(16, 16, 29, 0.9);
  --text-main: #fff;
  --text-main-hover: #adb5ff96;
  --text-colored: #42a9ed;
  --text-content: #000;
  --bg-buttons: #3e9cdc;

  --extra-sm-breakpoint: 320px;
  --sm-breakpoint: 640px;
  --lg-breakpoint: 768px;
  --xl-breakpoint: 1024px;
  --xxl-breakpoint: 1280px;
}
